@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 93.2vh;
	padding: 2em;
	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);
	/* background-size: cover; */
	background-repeat: no-repeat;
	color: #ececec;
	font-size: 1rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	scroll-behavior: smooth;
	width: 90%;
	height: 95vh;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 2em;
	/* overflow-y: auto;
	overflow-x: hidden;
	position: relative; */
}

#imgDado {
	width: 200px;
}

@media screen and (max-width: 300px) {
	body {
		padding: 1em;
		height: 96vh;
	}
	main {
		width: 90vw;
		height: 95vh;
		padding: 0;
	}
}
