*,
::after,
::before {
	box-sizing: border-box;
}

:root {
	--color-main: #f3eed9;
	--color-second: #824936;
	--color-third: #222c2a;

	--font-featured: 300 0.7em "Roboto", sans-serif;
	--font-h1: 900 2em "Playfair Display", serif;
	--font-h2: 900 1.2em "Playfair Display", serif;
	--font-p: 400 0.8em "Roboto", sans-serif;
}

body {
	margin: 0;
	font-size: 1.55rem;
}

img {
	max-width: 100%;
}

h1 {
	font: var(--font-h1);
	color: var(--color-second);
}

h2 {
	margin-top: 0;
	font: var(--font-h2);
}

p {
	font: var(--font-p);
	line-height: 1.5em;
	opacity: 0.75;
}

.container {
	width: 85%;
	max-width: 1128px;
	margin: 0 auto;
	padding: 2em 0;
}

.hero {
	display: flex;
	min-height: 650px;
	align-items: center;
	text-align: center;
	background-color: var(--color-main);
}

.hero .container {
	max-width: 800px;
}

.hero p {
	font: var(--font-featured);
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.hero h1 {
	margin: 0;
	line-height: 1em;
}

.main__text h2 {
	text-align: center;
	color: var(--color-second);
}

.content {
	color: white;
}

.content h2 {
	color: var(--color-main);
}

.content:nth-of-type(even) {
	background-color: var(--color-second);
}

.content:nth-of-type(odd) {
	background-color: var(--color-third);
}

.content:nth-last-of-type(odd) .row {
	flex-direction: row-reverse;
}

@media (min-width: 600px) {
	.row {
		display: flex;
		gap: 1.6em;
	}

	.col {
		width: 100%;
	}
}
