:root {
	--primary-color: rgb(0, 128, 237);
	--secondary-color: rgba(0, 126, 237, 0.1);
}

@media (max-width: 1000px) {
	header .container {
		padding: 20px;
	}

	main .container-main img {
		display: none;
	}

	h2 {
		margin: 0 30px;
	}

	h3 {
		margin: 10px 30px;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 30px;
	}
}

@media (max-width: 630px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		margin-top: 30px;
		flex-direction: column;
		width: 100vw;
		justify-content: center;
		align-items: center;
		left: 100%;
		transform: translateX(100vw);
		transition: 2.5s ease transform;
	}

	.menu > li {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0;
		padding: 0;
		color: white;
		background-color: var(--primary-color);
	}

	.menu>li:not(:last-child){
		border-bottom: 1.5px solid white;
	}

	.menu li a {
		flex: 1;
		text-align: center;
	}

	main {
		margin: -60px auto 40px;
	}

	h2 {
		font-size: 2.5rem;
	}

	label {
		display: block;
		position: relative;
		height: 22px;
		width: 30px;
		cursor: pointer;
	}

	label span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background-color: white;
		border-radius: 30px;
		transition: 0.25s ease-in-out;
	}

	label span:nth-child(1) {
		top: 0;
	}
	label span:nth-child(2) {
		top: 8px;
	}
	label span:nth-child(3) {
		top: 16px;
	}

	#checkbox-menu:checked + label span:nth-child(1) {
		transform: rotate(-45deg);
		top: 8px;
	}

	#checkbox-menu:checked + label span:nth-child(2) {
		opacity: 0;
	}

	#checkbox-menu:checked + label span:nth-child(3) {
		transform: rotate(45deg);
		top: 8px;
	}

	form input {
		width: 100%;
	}

	nav.menu {
		width: 100%;
	}

	#checkbox-menu:not(:checked)~nav .menu{
		display: none;
	}

	#checkbox-menu:checked ~ nav .menu {
		display: flex;
		transform: translateX(-100vw);
		transition: 2.5s ease transform;
	}
}
