*,
::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-style: italic;
	font-family: Tahoma, sans-serif;
	text-align: center;
	text-transform: capitalize;
	background-color: dimgray;
	color: white;
}

.container {
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	background-color: cornflowerblue;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 20% 65% 15%;
	grid-template-areas: "header header" "main sidebar" "footer footer";
}

header {
	grid-area: header;
	background-color: blueviolet;
}

main {
	grid-area: main;
	background-color: coral;
	padding: 10px;
}

.main-container {
	min-height: 70%;
	display: grid;
	gap: 10px;
	grid-template: 1fr 1fr / 1fr 1fr;
}

article {
	background-color: chocolate;
}

aside {
	grid-area: sidebar;
	background-color: brown;
}

footer {
	grid-area: footer;
	background-color: fuchsia;
}
