:root {
	--primary-color: #122a57;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

div img {
	display: block;
	width: 100%;
}

.flex-container {
	display: flex;
	width: 100%;
	max-width: 992px;
	margin: auto;
}

header {
	display: flex;
	height: 100px;
	align-items: center;
	color: white;
	background-color: var(--primary-color);
}

header .menu {
	justify-content: space-between;
}

header .list-items {
	display: flex;
	width: 100%;
	max-width: 260px;
	align-items: center;
	justify-content: space-between;
}

header .list-items a {
	color: white;
}

.presentation {
	height: 100vh;
	align-items: center;
	justify-content: space-between;
}

.presentation-text h1 {
	margin-bottom: 10px;
	font-size: 48px;
	color: var(--primary-color);
}

.presentation-text a,
.btn {
	display: block;
	margin-top: 10px;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: var(--primary-color);
	border-radius: 30px;
}

#quem-somos {
	flex-direction: row-reverse;
	align-items: center;
}

#quem-somos h2 {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-size: 32px;
	color: var(--primary-color);
}

#quem-somos h2::before {
	content: "";
	height: 50px;
	width: 5px;
	margin-right: 5px;
	background-color: var(--primary-color);
}

#quem-somos p {
	margin-bottom: 10px;
	width: 90%;
}

#quem-somos img {
	min-width: 500px;
}

.container-externo {
	width: 100%;
	background-color: var(--primary-color);
}

#servicos {
	padding: 100px 0;
	flex-direction: column;
	color: white;
}

#servicos h2 {
	font-size: 32px;
	margin-bottom: 50px;
}

.list-service {
	display: flex;
	justify-content: space-around;
}

.list-service .item-service {
	text-align: center;
}

.item-service img {
	width: 90%;
	margin: auto;
}

.item-service p {
	margin: 25px 0;
	font-size: 16px;
	font-weight: 600;
}

.item-service a {
	display: block;
	padding: 15px;
	font-weight: 700;
	color: var(--primary-color);
	background-color: white;
	border-radius: 30px;
}

#planos {
	flex-direction: column;
	min-height: 100vh;
}

#planos h2 {
	margin-top: 100px;
	font-size: 32px;
}

.list-plans {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.item-plan {
	min-width: 180px;
	padding: 20px;
	border: 5px solid var(--primary-color);
}

.item-plan h3 {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 24px;
}

.item-plan h3::after {
	content: "";
	height: 3px;
	width: 100%;
	margin: 10px 0;
	background-color: var(--primary-color);
}

.item-plan ul {
	/* display: flex; */
	flex-direction: column;
	padding: 10px;
}

.item-plan ul li {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.item-plan ul li::before {
	content: "";
	height: 8px;
	width: 8px;
	margin-right: 5px;
	background-color: var(--primary-color);
}
