@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.1rem;
	line-height: 1.4rem;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

html {
	font-size: 12px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

/* Seção de apresentação */

.presentation-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#presentation {
	background-image: url(./background.jpeg);
	background-size: cover;
	background-position: center;
	line-height: 6rem;
	position: relative;
	z-index: 1;
}

#presentation::after {
	content: "";
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
}

#presentation h1 {
	width: fit-content;
	font-size: 5rem;
	position: relative;
	color: transparent;
	animation: reveal-text 0.5s ease forwards;
	animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
	text-transform: capitalize;
	animation-delay: 0.8s;
}
#presentation h1:nth-child(2) {
	animation-delay: 1.8s;
}
#presentation h1:nth-child(3) {
	margin-bottom: 50px;
	text-transform: capitalize;
	animation: reveal-n ame 0s ease forwards;
	animation-delay: 3s;
}

#presentation h1 span {
	background-color: gold;
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	animation: revealBox 1s ease;
	animation-delay: 0.5s;
}

#presentation h1:nth-child(1) span {
	animation-delay: 0.5s;
}

#presentation h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#presentation .cta {
	color: gold;
	padding: 10px 30px;
	border: 2px solid gold;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	transition: 0.5s ease;
	transition-property: background-color, color;
}

#presentation .cta:hover {
	color: indigo;
	background-color: gold;
}

/* Seção de Portifólio */

header h1 {
	padding: 30px 0 50px;
	font-size: 3rem;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

#portfolio .all-projects {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#portfolio .project-item {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-bottom: 40px;
	border-radius: 10px;
	overflow: hidden;
}

#portfolio .project-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 30px;
	background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
	color: white;
}

#portfolio .project-info h1 {
	font-size: 3.5rem;
	font-weight: 300;
}

#portfolio .project-info h2 {
	font-size: 2rem;
	font-weight: 200;
}

#portfolio .project-img {
	height: 300px;
	position: relative;
	overflow: hidden;
}

#portfolio .project-img::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #607185 0%, #031020 100%);
	opacity: 0.7;
}

#portfolio .project-img img {
	transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* Keyframes */

@keyframes reveal-text {
	100% {
		color: white;
	}
}

@keyframes reveal-n	ame {
	100% {
		color: gold;
	}
}

@keyframes revealBox {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
