* {
	margin: 0;
	padding: 0;
}

:root {
	--light-color: antiquewhite;
	--dark-color: rgb(161, 126, 9);
	--dark-color-over: rgb(102, 80, 9);
}

body {
	font-family: "Roboto Mono", monospace;
	height: 100vh;
}
main {
	display: flex;
	background-image: url("https://st.depositphotos.com/1025323/2685/i/950/depositphotos_26855445-stock-photo-mathematics-background.jpg");
	background-position: center;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
	align-items: center;
}

.container {
	text-align: center;
	padding: 20px;
	min-height: 230px;
}

.page-title {
	color: var(--light-color);
	margin-bottom: 15px;
}

.page-subtitle {
	color: var(--light-color);
	margin-bottom: 15px;
}

.page-logo {
	width: 200px;
}

.alura-logo {
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
}

#notas {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nota {
	padding-top: 3px;
	margin-bottom: 30px;
}

label {
	font-size: 1.2em;
	color: var(--light-color);
	padding: 3px 6px;
	background-color: var(--dark-color);
	border-radius: 5px 0 0 0;
}

input {
	font-size: 1.2em;
	padding-left: 6px;
}

#resultado {
	margin-bottom: 60px;
	padding: 3px 6px;
	border-radius: 5px 0 0 0;
	background-color: var(--dark-color);
	color: var(--light-color);
	font-size: 1.2em;
	max-width: 337px;
}

#calcular {
	padding: 3px 6px;
	font-size: 1.2em;
	background-color: var(--dark-color);
	color: var(--light-color);
	width: 337px;
	border-radius: 5px 0 0 0;
}

#calcular:hover {
	background-color: var(--dark-color-over);
	cursor: pointer;
}
