@charset "UTF-8";

:root {
	--main-color: #8C0428;
	--sub-1-color: #732240;
	--sub-2-color: #D9486E;
	--sub-3-color: #fff3eb;
	/* --main-color: #272F59;
	--sub-1-color: #5F5173;
	--sub-2-color: #9AA3D9;
	--sub-3-color: #fff3eb; */
}

* {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

body {
	height: 100vh;
	background-image: linear-gradient(
		-45deg,
		var(--sub-2-color),
		var(--main-color)
	);
}

main {
	background-color: var(--sub-3-color);
	border-radius: 4px;
	width: 60vw;
	padding: 15px;
	margin: auto;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
	margin-top: 0;
	color: var(--main-color);
}

h2 {
	color: var(--sub-1-color);
}

p {
	color: var(--sub-2-color);
}
